[submodule "plugged/auto-pairs"]
	path = plugged/auto-pairs
	url = https://git::@github.com/jiangmiao/auto-pairs.git
[submodule "plugged/hasksyn"]
	path = plugged/hasksyn
	url = https://git::@github.com/travitch/hasksyn.git
[submodule "plugged/hexmode"]
	path = plugged/hexmode
	url = https://git::@github.com/fidian/hexmode.git
[submodule "plugged/L9"]
	path = plugged/L9
	url = https://git::@github.com/vim-scripts/L9.git
[submodule "plugged/nerdcommenter"]
	path = plugged/nerdcommenter
	url = https://git::@github.com/scrooloose/nerdcommenter.git
[submodule "plugged/nerdtree"]
	path = plugged/nerdtree
	url = https://git::@github.com/scrooloose/nerdtree.git
[submodule "plugged/rainbow"]
	path = plugged/rainbow
	url = https://git::@github.com/luochen1990/rainbow.git
[submodule "plugged/sparkup"]
	path = plugged/sparkup
	url = https://git::@github.com/rstacruz/sparkup.git
[submodule "plugged/syntastic"]
	path = plugged/syntastic
	url = https://git::@github.com/scrooloose/syntastic.git
[submodule "plugged/tagbar"]
	path = plugged/tagbar
	url = https://git::@github.com/majutsushi/tagbar.git
[submodule "plugged/tern_for_vim"]
	path = plugged/tern_for_vim
	url = https://git::@github.com/ternjs/tern_for_vim.git
[submodule "plugged/undotree"]
	path = plugged/undotree
	url = https://git::@github.com/mbbill/undotree.git
[submodule "plugged/vim-airline"]
	path = plugged/vim-airline
	url = https://git::@github.com/bling/vim-airline.git
[submodule "plugged/vim-fugitive"]
	path = plugged/vim-fugitive
	url = https://git::@github.com/tpope/vim-fugitive.git
[submodule "plugged/vim-javascript"]
	path = plugged/vim-javascript
	url = https://git::@github.com/pangloss/vim-javascript.git
[submodule "plugged/vim-markdown"]
	path = plugged/vim-markdown
	url = https://git::@github.com/plasticboy/vim-markdown.git
[submodule "plugged/vim-multiple-cursors"]
	path = plugged/vim-multiple-cursors
	url = https://git::@github.com/terryma/vim-multiple-cursors.git
[submodule "plugged/vim-polyglot"]
	path = plugged/vim-polyglot
	url = https://git::@github.com/sheerun/vim-polyglot.git
[submodule "plugged/YouCompleteMe"]
	path = plugged/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
